## __Introduction to the Pandas Series__

Pandas Series is a one-dimensional array with an axis label.

## Step 1: Import Pandas and Create a List

- Import the pandas library:

In [1]:
import pandas as pd

Now, let's create a list called 'l'.

In [2]:
l = [x for x in range(5)]

## Step 2: Create a Pandas Series

- Create a pandas Series from the list, and access elements using its label

For this, we can use the Series() method of pandas and pass the list **l** to it.

In [3]:
s = pd.Series(l)

Now, let's print the series **s**.

In [4]:
s

0    0
1    1
2    2
3    3
4    4
dtype: int64

**Observation**

- The result has all the elements present in the Series along with their indexes. 

- The result also shows the data type of the elements in the Series.

To access the elements in a pandas Series, we use the indexing method.

- Let's access the 3<sup>rd</sup> element from the Series.

In [5]:
s[3]

3

**Observation**

The 3<sup>rd</sup> element of the series is 3.

## Step 3: Create a Series with Custom Indexes

We can also create a Series with the custom indexes.

- Create a Series with custom indexes **a**, **b**, **c**, **d** and **e**

For this, we need to pass the parameter index = [list of custom indexes].

In [6]:
s = pd.Series(l,index=['a','b','c','d','e'])

Let's see the new pandas Series 's'.

In [7]:
s

a    0
b    1
c    2
d    3
e    4
dtype: int64

__Observation__

Here, we can see the indexes has havechanged to a, b, c, d and e.

Now, let's access the element present at the e<sup>th</sup> index.

In [8]:
s['e']

4

In [20]:
s.index

Index(['a', 'b', 'c', 'f'], dtype='object')

In [22]:
s.values

array([ 1.,  2.,  3., nan])

In [23]:
#to create a Series with an index identifying each data point
ser2 = pd.Series([4, 7, -5, 3], index=['d', 'b', 'a', 'c'])

In [24]:
ser2

d    4
b    7
a   -5
c    3
dtype: int64

In [25]:
#manipulating and accessing values of series
print(ser2['a'])
ser2['d'] = 6
print(ser2[['c', 'a', 'd']])

-5
c    3
a   -5
d    6
dtype: int64

## Step 4: Handle Duplicate Indexes

Note that the indexes can be duplicated. In this case, both elements present in the duplicate indexes will be retrieved.

- Create a Series with 'd' duplicated and access the elements using this duplicated index:

In [9]:
s = pd.Series(l,index=['a','b','c','d','d'])

In [ ]:
s

a    0
b    1
c    2
d    3
d    4
dtype: int64

**Observation**

Here, index **d** is duplicated.

Let's retrieve the elements present in the d<sup>th</sup> index.

In [10]:
s['d']

d    3
d    4
dtype: int64

**Observation**

The result shows that both values in the index are present.

## Step 5: Create a Series from a Dictionary

We can create a pandas Series from a dictionary.

- Create a series from a dictionary, and access elements using its keys:

In [11]:
data = {'a':1,'b':2,'c':3,'d':4}

Now, let's convert the dictionary **data** to a series using pd.Series() and by giving **data** as an argument.

In [12]:
s = pd.Series(data)

Let's print the Series **s**.

In [13]:
s

a    1
b    2
c    3
d    4
dtype: int64

**Observation**

- In the result, we can see that the indexes are the keys of the dictionary and the values are the data of the series.

- The data type of the elements in the Series is integer.

## Step 6: Choose Specific Indexes from the Dictionary

There is also another option where we can choose the keys that are present in the data and take only those keys into consideration. Let's say we need only two keys: **a** and **b**.

- Create a Series with specific indexes from the dictionary, and handle missing index values:

In [14]:
s = pd.Series(data,index=['a','b'])

Now, let's print the Series **s**.

In [15]:
s

a    1
b    2
dtype: int64

**Observation**

Here, **s** contains only the data from keys **a** and **b**.

- Let's take an example where we give the indexes that are not present in the
keys of the dictionary. 

- The Series assumes a null value if an index is not present.

Let's print a Series **s** with some indexes that are not present in the Series.

In [16]:
s = pd.Series(data,index=['a','b','c','f'])

Let's print Series **s**.

In [17]:
s

a    1.0
b    2.0
c    3.0
f    NaN
dtype: float64

**Observation**

At index **f**, we can see the **NaN** value.

In [26]:
ser2 = pd.Series([4, 7, -5, 3], index=['d', 'b', 'a', 'c'])

In [27]:
import numpy as np

In [28]:
#NumPy array operations, such as filtering with a boolean array, 
# scalar multiplication,#or applying math functions, preserve the index-value link
ser2[ser2 > 0]

d    4
b    7
c    3
dtype: int64

In [29]:
ser2 * 2

d     8
b    14
a   -10
c     6
dtype: int64

In [30]:
np.exp(ser2)

d      54.598150
b    1096.633158
a       0.006738
c      20.085537
dtype: float64

In [31]:
#Series is a fixed-length, ordered dict, as it is a mapping of index values 
'b' in ser2

True

In [32]:
#If you have data contained in a Python dict, you can create a Series from it 
# by passing the dict:
sdata = {'france': 35000, 'germany': 71000, 'greece': 16000, 'norway': 5000}
ser3 = pd.Series(sdata)

In [33]:
ser3

france     35000
germany    71000
greece     16000
norway      5000
dtype: int64

In [34]:
#When only passing a dict, the index in the resulting Series will have the 
# dict’s keys in sorted order
country = sorted(['greece', 'france', 'germany', 'norway'])
country
ser4 = pd.Series(sdata, index=country)

In [35]:
ser4

france     35000
germany    71000
greece     16000
norway      5000
dtype: int64

In [36]:
#The isnull and notnull functions in pandas should be used to detect missing data
pd.isnull(ser4)
pd.notnull(ser4)

france     True
germany    True
greece     True
norway     True
dtype: bool

In [37]:
#Series also has these as instance methods
print(ser4.isnull())

france     False
germany    False
greece     False
norway     False
dtype: bool

In [38]:
#A critical Series feature for many applications is that it automatically 
# aligns differently indexed
#data in arithmetic operations:
print(ser3)
print(ser4)
print(ser3 + ser4)

france     35000
germany    71000
greece     16000
norway      5000
dtype: int64
france     35000
germany    71000
greece     16000
norway      5000
dtype: int64
france      70000
germany    142000
greece      32000
norway      10000
dtype: int64

In [41]:
ser4.name

'population'

In [40]:
#Both the Series object itself and its index have a name attribute, which integrates with
#other key areas of pandas functionality:
ser4.name = 'population'
ser4.index.name = 'country'
print(ser4)

country
france     35000
germany    71000
greece     16000
norway      5000
Name: population, dtype: int64

In [42]:
#A Series’s index can be altered in place by assignment
#ser.index = ['Bob', 'Steve', 'Jeff', 'Ryan']