## __Querying a Series__

Let's learn about querying a Series.

## Step 1: Import Pandas and Create a Series

Import the pandas library and create a Series.

In [ ]:
import pandas as pd

In [ ]:
#Create a series
s = pd.Series([x for x in range(1,11)])

In [ ]:
s

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

**Observation**

The Series **s** contains integers from 1 to 10.

## Step 2: Access Elements Using .iloc and .iat


The elements in a Series can be accessed using the index method. It can also be accessed using two other methods:
- .iloc
- .iat

Let's access the elements at the 0<sup>th</sup> and 5<sup>th</sup> indices using the .iloc method
and elements at the 0<sup>th</sup> and 8<sup>th</sup> indices using the .iat method.

In [ ]:
s.iloc[0]

1

In [ ]:
s.iloc[5]

6

In [ ]:
s.iat[0]

1

In [ ]:
s.iat[8]

9

**Observation**

The elements at the specified indices are 1, 6, 1 and 9.

## Step 3: Slice the Series

Series can also be sliced in the same way that lists can be sliced, but we need to specify the indices.

- Slice a Series using the index range 5 to 9:

In [ ]:
s[5:9]

5    6
6    7
7    8
8    9
dtype: int64

Negative indices can also be used. This will slice the Series from back to front.

In [ ]:
s[-4:-1]

6    7
7    8
8    9
dtype: int64

**Observation**

The elements in the result are from index -4 to -1. It does not include the element at the index -1.

## Step 4: Use the .where() Method

There is another method that's really useful in various operations in upcoming lessons. Here, we need to specify a condition for which it checks if the value in this series is true or not. 

- Let's check if a number is true. If this is true, it returns the value itself. If it is false, it returns a null value.


- Let's use the .where() method to apply the conditions and manipulate the values in a Series.

In [ ]:
s.where(s%2==0)

0     NaN
1     2.0
2     NaN
3     4.0
4     NaN
5     6.0
6     NaN
7     8.0
8     NaN
9    10.0
dtype: float64

**Observation**

The result contains all the even numbers in the series. All other elements are **NaN**.

There is also an option where we can specify the value to be returned if the condition is false.
We can see that wherever the number is, it returns an odd number. This need not be a string itself.
Now, let's print **Odd Number** if the element of the Series is an odd number.

In [ ]:
s.where(s%2==0,'Odd Number')

0    Odd Number
1             2
2    Odd Number
3             4
4    Odd Number
5             6
6    Odd Number
7             8
8    Odd Number
9            10
dtype: object

**Observation**

The result has all the even numbers in their place and the string **Odd Number** in place of the odd numbers.

This can also be a function to which the Series is passed.

Let's say that for every odd number, we calculate the square of it.
If this condition is false, we calculate the square of it.

In [ ]:
s.where(s%2==0,s**2)

0     1
1     2
2     9
3     4
4    25
5     6
6    49
7     8
8    81
9    10
dtype: int64

**Observation**

All the even numbers are present in the result. In the place of odd numbers, we have squared off the corresponding number.

## Step 5: Modify Series Inplace Using .where()

There are methods by which we can deal with null values. Let's include null values in the series.

This returns null values, and we can modify the original Series inplace by ensuring inplace is equal to true. 

The dot drop name would drop all the null values in the series.


- Modify the series using inplace = True in the .where() method:

In [ ]:
s.where(s%2==0,inplace=True)

## Step 6: Handle Missing Values

Similarly, we can fill the null values using a specified value using the dot fillna() method, but we need to specify the value in which it needs to be filled.
Every null value that was present in this series was filled with the string-filled value. 

- Handle missing values in a series using the .dropna() and .fillna() methods:

In [ ]:
s.dropna()

1     2.0
3     4.0
5     6.0
7     8.0
9    10.0
dtype: float64

In [ ]:
s.fillna('Filled Value')

0    Filled Value
1             2.0
2    Filled Value
3             4.0
4    Filled Value
5             6.0
6    Filled Value
7             8.0
8    Filled Value
9            10.0
dtype: object

**Observation**

The result has the Series elements and the string **Filled Value**, which has been added using the fillna() operation.

In [1]:
#More on series

#Reindexing
#to create a new object with the data confirmed to a new index.
import pandas as pd
import numpy as np
ser = pd.Series([1,2,3,4], index=['d','b','c','a'])
print(ser)

#calling reindex to rearrange data as per new index
ser1 = ser.reindex(['a','b','c','d'])
print(ser1)

print(ser)

ser3 = ser1.reindex(['a','b','c','d','e'])
#ser3 = ser1.reindex(['a','test1','b','test2','c','test3','d','test4','e'])
print(ser3)

ser3 = ser1.reindex(['a','b','c','d','e'],fill_value=0)
print(ser3)

#using ffill to take care of missing values (interpolation/filling values)
ser4 = pd.Series(['cricket','football','basketball'],index=[0,2,4])
ser4
print(ser4)

ser4.reindex(range(6),method='ffill')
print(ser4.reindex(range(6),method='ffill'))

ser5 = pd.Series(['cricket','football','basketball'],index=[0,2,4])
ser5
print(ser5)

ser5.reindex(range(6),method='bfill')
print(ser5.reindex(range(6),method='bfill'))

#With DF , reindex can alter the row-index, columns or both
frame = pd.DataFrame(np.arange(9).reshape((3,3)),index=['a','b','c'],
columns=['ger','aus','fra'])
print(frame)

frame2 = frame.reindex(['a','b','c','d'])
print(frame2)

#columns can be reindexed using the columns keyword
country = ['ger','norway','fra']
frame.reindex(columns = country)
print(frame.reindex(columns = country))

#frame.reindex(index=['a', 'b', 'c', 'd'], method='ffill',columns=country)
frame.loc[['a', 'b', 'c', 'd'], country]
print(frame.loc[['a', 'b', 'c', 'd'], country])

#dropping entries from an axis
#Dropping one or more entries from an axis is easy if you have an index array or list
#without those entries.
ser6 = pd.Series(np.arange(5.), index=['a', 'b', 'c', 'd', 'e'])
ser6
new_ser = ser6.drop('c')
new_ser
print(new_ser)

print(ser6.drop(['a','c']))
ser6

#With DataFrame, index values can be deleted from either axis:
data = pd.DataFrame(np.arange(16).reshape((4, 4)),
index=['paris', 'belgium', 'vienna', 'basel'],
columns=['one', 'two', 'three', 'four'])

print(data)
print(data.drop(['paris','belgium']))

print(data)
print(data.drop('two', axis=1))
print(data.drop(['two', 'four'], axis=1))

d    1
b    2
c    3
a    4
dtype: int64
a    4
b    2
c    3
d    1
dtype: int64
d    1
b    2
c    3
a    4
dtype: int64
a    4.0
b    2.0
c    3.0
d    1.0
e    NaN
dtype: float64
a    4
b    2
c    3
d    1
e    0
dtype: int64
0       cricket
2      football
4    basketball
dtype: object
0       cricket
1       cricket
2      football
3      football
4    basketball
5    basketball
dtype: object
0       cricket
2      football
4    basketball
dtype: object
0       cricket
1      football
2      football
3    basketball
4    basketball
5           NaN
dtype: object
   ger  aus  fra
a    0    1    2
b    3    4    5
c    6    7    8
   ger  aus  fra
a  0.0  1.0  2.0
b  3.0  4.0  5.0
c  6.0  7.0  8.0
d  NaN  NaN  NaN
   ger  norway  fra
a    0     NaN    2
b    3     NaN    5
c    6     NaN    8

KeyError: "['d'] not in index"