## Loading, Indexing and Reindexing

## Step 1: Import the Required Library

- Import the pandas library

In [1]:
import pandas as pd

## Step 2: Load the Dataset

- Load the __HousePrices.csv__ dataset using pandas:

In [2]:
df = pd.read_csv('../../Datasets/HousePrices.csv')

In [3]:
df.head(2)

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip,country
0,2014-05-02 00:00:00,313000.0,3.0,1.5,1340,7912,1.5,0,0,3,1340,0,1955,2005,18810 Densmore Ave N,Shoreline,WA 98133,USA
1,2014-05-02 00:00:00,2384000.0,5.0,2.5,3650,9050,2.0,0,4,5,3370,280,1921,0,709 W Blaine St,Seattle,WA 98119,USA

**Observation**

Here, we can see the house price data.

## Step 3: Display the DataFrame Columns

- Display the columns of the DataFrame:

In [4]:
df.columns

Index(['date', 'price', 'bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot',
       'floors', 'waterfront', 'view', 'condition', 'sqft_above',
       'sqft_basement', 'yr_built', 'yr_renovated', 'street', 'city',
       'statezip', 'country'],
      dtype='object')

**Observation**

These are the columns present in the DataFrame **df**.

## Step 4: Set the Index and Reset the Index

- Set the **date** column as the index and then reset the index

- Keep **inplace = True**

In [5]:
df.set_index(['date'],inplace=True)

In [6]:
df.head(2)

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip,country
date,,,,,,,,,,,,,,,,,
2014-05-02 00:00:00,313000.0,3.0,1.5,1340,7912,1.5,0,0,3,1340,0,1955,2005,18810 Densmore Ave N,Shoreline,WA 98133,USA
2014-05-02 00:00:00,2384000.0,5.0,2.5,3650,9050,2.0,0,4,5,3370,280,1921,0,709 W Blaine St,Seattle,WA 98119,USA

**Observation**

Now, the index of the DataFrame is **date**.

Reset the index using reset_index()

Keep **inplace = True**

In [7]:
df.reset_index(inplace=True)

## Step 5: Set the Index While Reading the CSV File

We can also set the required column as the index while reading the CSV file.

- Set the **date** column as the index while reading the CSV file by adding another parameter **index_col**

In [8]:
df = pd.read_csv('../../Datasets/HousePrices.csv',index_col=['date'])

In [9]:
df.head(2)

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip,country
date,,,,,,,,,,,,,,,,,
2014-05-02 00:00:00,313000.0,3.0,1.5,1340,7912,1.5,0,0,3,1340,0,1955,2005,18810 Densmore Ave N,Shoreline,WA 98133,USA
2014-05-02 00:00:00,2384000.0,5.0,2.5,3650,9050,2.0,0,4,5,3370,280,1921,0,709 W Blaine St,Seattle,WA 98119,USA

**Observation**

Now, **date** is set as the index.

## Step 6: Reset the Index

- Reset the index of the DataFrame:

In [10]:
df.reset_index(inplace=True)

We can also set multiple indexes for a DataFrame. For this, give the multiple column names as a list to set_index().

- Set multiple columns ['date', 'statezip'] as indexes:

In [12]:
df.head(2)

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip,country
0,2014-05-02 00:00:00,313000.0,3.0,1.5,1340,7912,1.5,0,0,3,1340,0,1955,2005,18810 Densmore Ave N,Shoreline,WA 98133,USA
1,2014-05-02 00:00:00,2384000.0,5.0,2.5,3650,9050,2.0,0,4,5,3370,280,1921,0,709 W Blaine St,Seattle,WA 98119,USA

**Observation**

Now, there are two indexes for the DataFrame.