## __Python Strings__

##Step 1: Define and Print the Strings

- Strings are a collection of characters
- To define a string, enclose the set of characters inside double or single quotes

Now, let's assign the string to a variable and print it.

In [1]:
s = 'Hello'
str = "Hello"
print(s)
print(str)

Hello
Hello

**Observation** 

Here, both Hello in single quotes and Hello in double quotes are same.

- To define a multi-line string, enclose the string inside three double quotes or three single quotes

Now, let's assign the multi-line string to a variable and print it.

In [2]:
s = '''Hello 
this is a multiline string'''

In [ ]:
print(s)

Hello
this is a multiline string

**Observation** 

'this is a multiline string' is printed.

##Step 2: String Length and Indexing

- Python does not include character data type 
- A character is a string with a length of 1
- Use the 'len' function to find the length of the string
- String indices start from zero and go up to n-1 and can be accessed using the index number
- Access individual characters in a string using positive and negative indexing

Let's assign the string 'a' to a variable and find the length of the string.

In [3]:
s = 'a'

In [4]:
len(s)

1

**Observation** 

String 's' has only one character in it, and the len() function returns 1 as a string length.

Now, let's see how to access the characters from a string. Get the character from the 0<sup>th</sup> and 4<sup>th</sup> position.

In [5]:
s = "Hello World"

In [6]:
s[0]

'H'

In [7]:
s[4]

'o'

**Observation** 

 Positive indices start from 0, which gives the first letter.

*   An easy way to get last element from a string is to use negative indexing. 
*   Negative indexing starts from -1 to -n.

In [8]:
s[-1]

'd'

In [9]:
s[-3]

'r'

**Observation** 

 The last element in the string "Hello World" is 'd', which is accessed by the index -1.

Now let's print the elements of the array iteratively.

* In the for loop, declare a variable i that iterates through string s
*print i

In [10]:
for i in s:
    print(i)

H
e
l
l
o

W
o
r
l
d

**Observation** 

 The for loop iterates over each character in the string **s** and prints each character to the console.

Another way to print the characters in a string one by one is by using index method. 
* Declare variable i to iterate from 0<sup>th</sup> location till the end. 
* The range() function returns a sequence of numbers starting from 0 to the given end value. Here we can give the length of the string which represents the last location. Since the starting point is not specified, 0 is chosen as it is the default.
* Now, access the element in the location **i** from string **s** and print.

In [11]:
for i in range(len(s)):
    print(s[i])

H
e
l
l
o

W
o
r
l
d

**Observation** 

 The for loop and **range** functions are used to iterate over each index in the string **s** and print the character at that index to the console.

Now, let's find the length of the string.

In [12]:
len(s)

11

**Observation** 

 The length of the string is 11, including white spaces.

## Step 3: String Membership, Slicing and Inbuilt Methods

- Check for string membership using **in** and **not in**
- Access portions of a string using slicing
- Use inbuilt methods such as upper(), lower(), split() and replace()

We can check if a string is present in the given string.

* The **in** and **not in** keywords are used to check for the presence of a substring in a string.

In [13]:
'WOrld' in s

False

**Observation** 

 Python is case sensitive. Here **in** returned False since the string 'WOrld' is not present in **s**.

In [14]:
'WORLD' not in s

True

**Observation** 

The **not in** key word returned **True** since the string 'WORLD' is not present in string **s**.

Use slicing to access a portion of the string **s**.
* Inside the square bracket of the string, mention the starting and end point.
Syntax: s[start:end]
* This slices the string from the start point till the end point.

In [ ]:
s[1:8]

'ello Wo'

**Observation** 

The code returns the substring starting from the index 1 to index 7.

In [ ]:
s[-5:-1]

'Worl'

**Observation** 

Here, negative indexing is used. The code returns the substring that starts from index -5 to index -1.

In [ ]:
s[-1::-1]

'dlroW olleH'

**Observation** 

Slicing is used to reverse the string. Here, the line starts from index 1 and goes to the end with index -1.

### Inbuilt methods for strings
1. upper() - Returns the string in uppercase
2. lower() - Returns the string in lowercase
3. split() - Splits the string into a list
4. replace() - Replaces the substring with another substring
5. len() - Finds the length of the string

Let's convert string 'Hello world' to uppercase.

In [ ]:
s.upper()

'HELLO WORLD'

**Observation** 

 upper() converts all the letters in the string to uppercase.

Now, let's convert the string to lower case.

In [ ]:
s.lower()

'hello world'

**Observation** 

 lower() converts all the letters in the string to lowercase.

Let's split the string into two separate strings.

In [ ]:
s.split()

['Hello', 'World']

**Observation** 

The split() function splits the string using a separator, which by default is white space.

Strings can also be split by using any separators.

In [ ]:
s = 'Hello-World'
s.split('-')

['Hello', 'World']

**Observation** 

- Here, the string **s** is separated using a hyphen. 
- The list of strings is not assigned back to the string 's'. Variable 's' still holds 'Hello-World'

Now, let's assign the list of string to a variable.

In [ ]:
s = 'Hello-World'
split_list = s.split('-')
split_list

['Hello', 'World']

In [ ]:
s

'Hello-World'

Let's remove the hyphen present in the string 'Hello-world'

In [ ]:
s.replace('-',' ')

'Hello World'

**Observation** 

Here, the replace method replaces all occurrences of hyphens in the string **s** with a space.

Concatenation refers to combining two different strings into one. Let's concatenate string **s** with 'Welcome to Simplilearn'.

In [ ]:
# Concatenate the string 's' with another string
s + ' Welcome to Simplilearn'

'Hello-World Welcome to Simplilearn'

**Observation** 

Here, strings are concatenated using **+**

The escape character, **\**, can be used in cases where single or double quotes are used inside a string.

The format method is used to manipulate a string dynamically. 
* Add the placeholder {} for the formatted string
* Add a string which needs to be combined with the formatted string
* The format() function returns the formatted string.

In [ ]:
print('{} Welcome to Simplilearn'.format('Manoj'))

Manoj Welcome to Simplilearn

**Observation** 

Here the placeholder is replaced with the name 'Manoj' and combined with the specified string.

## Step 4: Strings with Quotes

- The escape characters come in handy when using single and double quotes inside a string
- Use backslashes to include quotes in a string variable
- Define and print a string variable that includes a quote character

In [ ]:
s = 'He said, 'hi''

SyntaxError: invalid syntax (<ipython-input-27-5e4e349a1f71>, line 1)

**Observation** 

It’s an invalid syntax because Python considers 'He said' as one string and 'hi' as another string.

To print single quotes inside a single quote string, use the escape character. Add the escape character just before the quotes that is part of string.

In [ ]:
s = 'He said, \'Hi\''

In [ ]:
print(s)

He said, 'Hi'

In [ ]:
s = "He said, 'Hi'"

In [ ]:
print(s)

He said, 'Hi'

**Observation** 

Both strings are printed with the quote character included.